// Snapcard dropdown button mixins
@mixin btn-dropdown-snapcard($btn-color, $btn-bg, $btn-border){
    @include button-variant($btn-color, $btn-bg, $btn-border);
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
    color: $btn-color;
    background-color: $btn-bg;
        border-color: $btn-border;
    }
}